h1{
  margin:0;
  padding-left: 10px;
  padding-right: 10px;
}

nav, main{
  max-width: 900px;
  padding: 15px;
  margin: auto;
}

body{
  font-family: Helvetica, sans-serif;
  background-color: azure;
  margin: 0;
}

header{
  background-color: black;
  color:azure;
  /* padding: 20px; */
  display: flex;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
  width:900px;
  flex-wrap: wrap;
}

nav h1{
  padding: 5px;
}

a{
  color: inherit;
  text-decoration: none;
}

nav ul{
  margin-block: 0;
  padding: 5px;
  list-style-type: none;
}

nav li, input{
  float: left;
  margin: 5px 15px 5px 0;
}

.memeImg{
  display:flex;
  width: 800px;
  max-width: 90%;
  border-radius: 50px;
  margin: auto;
}

@media only screen and (max-width: 600px){
  #aboutMeContainer{
      flex-direction: column;
  }
}

/* main{
  display: flex;
} */

#aboutMeContainer{
  display:flex;
}

.projectImg{
  width: 100%;
  height: auto;
}



details img, article{
  margin: 10px;
}

#skillsContainer i{
  margin:5px;
}

main li{
  margin: 3px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
